<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Book</title>
    	<link rel="icon" href="img/FPT.png" type="image/png">
  <link rel="stylesheet" href="vendors/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="vendors/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="vendors/themify-icons/themify-icons.css">
  <link rel="stylesheet" href="vendors/nice-select/nice-select.css">
  <link rel="stylesheet" href="vendors/owl-carousel/owl.theme.default.min.css">
  <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">

  <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand logo_h" href="home.hbs"><img src="img/FPT.png" width="130" alt=""></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
              <li class="nav-item active"><a class="nav-link" href="/home">Home</a></li>
              <li class="nav-item submenu dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">Book</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="nav-link" href="manageBook">View Book</a></li>
                  <li class="nav-item"><a class="nav-link" href="addBook">Add Book</a></li>
                </ul>
				</li>
				  <li class="nav-item submenu dropdown">
				<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">Category</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="nav-link" href="manageCategory">View Category</a></li>
                  <li class="nav-item"><a class="nav-link" href="addCategory">Add Category</a></li>
                </ul>
				</li>
				<li class="nav-item submenu dropdown">
				<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">Order</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="nav-link" href="">Manager Order</a></li>
                  <li class="nav-item"><a class="nav-link" href="replyFeedback">Reply Feedback</a></li>
                </ul>
					</li>
							<li class="nav-item submenu dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">Pages</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="nav-link" href="login">Login</a></li>
                  <li class="nav-item"><a class="nav-link" href="register">Register</a></li>
                  <li class="nav-item"><a class="nav-link" href="viewFeedback">View Feed Back</a></li>
                </ul>
              </li>

              <li class="nav-item"><a class="nav-link" href="">Logout</a></li>

              
            </ul>

           
          </div>
        </div>
      </nav>
    </div>
  </header>
    <h1>NewBook</h1>
    <form action="/addBook" method="post"
                                    style="margin-top: 3%; margin-left: 37%;">
                                    <div class="mb-3" style="font-size: 20px; font-weight:bold">
                                        Name: <input type="text" name="txtName" value="" class="form-control"
                                            style="margin-left: 50px;">
                                    </div>
                                    <br>
                                    <div class="mb-3" style="font-size: 20px; font-weight:bold">
                                        Picture:<input type="text" name="txtPicture" value="" class="form-control"
                                            style="margin-left: 43px;">
                                    </div>
                                    <br>
                                    <div class="mb-3" style="font-size: 20px; font-weight:bold">
                                        Price:<input type="text" name="txtPrice" value="" class="form-control"
                                            style="margin-left: 60px;">
                                    </div>
                                    <br>

                                    <div class="mb-3" style="font-size: 20px; font-weight:bold">
                                        Category:<select name="txtCategory" style=" margin-left: 25px">
                                            {{#each categories}}
                                            <option value="{{name}}">{{name}}</option>
                                            {{/each}}
                                        </select>
                                    </div>

                                    <br>
                                    <div class="mb-3" style="font-size: 20px; font-weight:bold">
                                        Hot book:<select name="txthot" style=" margin-left: 25px">
                                            <option value="true">true</option>
                                            <option value="fail">fail</option>
                                        </select>
                                        <input style="width: 40%;" type="hidden" name="hot" id="txtDescription"
                                            value="{{hot}}">
                                    </div>
                                    <br>
                                    <div class="mb-3" style="font-size: 20px; font-weight:bold">
                                        Author:<input type="text" name="txtAuthor" value="" class="form-control"
                                            style="margin-left: 42px;">
                                    </div>
                                    <br>
                                    <div class="mb-3" style="font-size: 20px; font-weight:bold">
                                        Publisher:<input type="text" name="txtDescription" value=""
                                            class="form-control" style="margin-left: 5px;">
                                    </div>
                                    <br><br>
                                    <div class="mb-3" style="font-size: 20px; font-weight:bold">
                                        <input type="submit" value="add" class="form-control"
                                            style="margin-left: 160px;">
                                    </div>
                                </form>
</body>
</html>