<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <h1>New Category</h1>
    <form action="admin/addCategory" method="post">

                                    <div class="mb-3"
                                        style="margin-left: 31%; margin-top: 3%; font-size: 20px; font-weight:bold">
                                        Add new Category:<input type="text" placeholder="name" name="txtName" value=""
                                            class="form-control" style="margin-left: 20px;">
                                    </div>
                                    <br>
                                    {{!-- <div class="mb-3">
                                        <input type="text" name="txtDescription" placeholder="description" value=""
                                            class="form-control">
                                    </div> --}}
                                    <div class="mb-3" style="margin-left: 48.2%;">
                                        <input type="submit" value="Add Category" class="form-control">
                                    </div>
                                 </form>
</body>
</html>