<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/feedback.css" />
    <title>Customer Feed Back</title>
</head>
<body>
    <center><h1>FEED BACK</h1></center>
    <form action="/feedback" method="post">
        <div class="row">
            <div class="col-25">    
                <label for="fname">First Name</label></div>    
            <div class="col-75">
                <input type="text" id="fname" name="firstname" placeholder="Your name..">    
            </div>
        </div>
        <div class="row">    
            <div class="col-25">    
                <label for="lname">Last Name</label>
            </div>    
                <div class="col-75">    
                <input type="text" id="lname" name="lastname" placeholder="Your last name..">    
            </div>
        </div>
        <div class="row">    
            <div class="col-25">    
                <label for="email">Mail</label>    
            </div>    
            <div class="col-75">    
                <input type="email" id="email" name="mail" placeholder="Your mail ..">    
            </div>    
        </div>
        <div class="row">    
            <div class="col-25">    
                <label for="lname">Name Book</label>
            </div>    
                <div class="col-75">    
                <input type="text" id="nameBook" name="nameBook" placeholder="Name Book..">    
            </div>
        </div>
        <div class="row">
            <div class="col-25">    
                <label for="country">Country</label>    
            </div>
            <div class="col-75">    
                <select id="country" name="country">
                    <option value="none">Select Country</option>    
                    <option value="australia">Australia</option>    
                    <option value="canada">Canada</option>    
                    <option value="usa">USA</option>    
                    <option value="russia">Russia</option>    
                    <option value="japan">Japan</option>    
                    <option value="india">India</option>    
                    <option value="china">China</option>
                    <option value="vietnamese">Vietnamese</option>
                </select>
            </div>
        </div>
        <div class="row">    
            <div class="col-25">    
                <label for="feed_back">Feed Back</label>    
            </div>
            <div class="col-75">    
                <textarea id="subject" name="feedback" placeholder="Write something.." style="height:200px"></textarea>    
            </div>
        </div>
        <center>
        <div class="row">    
            <input type="submit" value="Submit">    
        </div>
        </center>    
    </form>
</body>
</html>