<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="icon" href="img/FPT.png" type="image/png">
  <link rel="stylesheet" href="vendors/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="vendors/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="vendors/themify-icons/themify-icons.css">
  <link rel="stylesheet" href="vendors/nice-select/nice-select.css">
  <link rel="stylesheet" href="vendors/owl-carousel/owl.theme.default.min.css">
  <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">

  <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <center>
    <h1>All List Book</h1>
    <table class="table table-hover table-bordered">
                                        <thead style="background-color: yellow; color:black">
                                            <tr class="table-primary">

                                                <th scope="col" style="width: 370px;">ID</th>
                                                <th scope="col" style="width: 370px;">Category</th>
                                                {{!-- <th scope="col">Description</th> --}}
                                                <th scope="col">Options</th>


                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each category}}
                                            <tr>
                                                <td class="items" style="width: 370px;">{{_id}}</td>
                                                <td class="items" style="width: 370px;">{{name}}</td>

                                                {{!-- <td class="items">{{description}}</td> --}}

                                                <td>
                                                    <button name="button" value="OK" type="button"><a
                                                            onclick="return confirm('Do you want to delete the category?')"
                                                            href="/admin/deleteCategory?id={{_id}}">
                                                            <i class="fas fa-trash-alt"></i>
                                                        </a></button>
                                                </td>
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
        <a href="home">Back</a></li>
    </center>
</body>
</html>